@font-face {
  font-family: 'Fira Code VF';
  src: url('/shared/assets/fonts/FiraCode-VF.woff2') format('woff2-variations'),
       url('/shared/assets/fonts/FiraCode-VF.woff') format('woff-variations'),
       url('/shared/assets/fonts/FiraCode-VF.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
}
