.post-content {
  > p,
  > ul {
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-bottom: 30px;
  }

  > pre,
  > div,
  > ul,
  > ol,
  > table,
  > img,
  > blockquote {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 10px;
  }

  a:not(.btn) { @include underline($link-color); }
}

.post-content {
  font-size: 1.25rem;

  blockquote {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
}

.center-80 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
}

@include media-breakpoint-down(sm) {
  .center {
    width: 80% !important;
  }

  .center-80 {
    width: 100% !important;
  }
}
