<div class="card h-100">
  <div class="c-img-post"
        style="background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');">
    <span class="c-post-categories">
      {% for category in post.categories %}
        <span class="text-uppercase">{{category}}</span>
        {% unless forloop.last %}<span class="ms-1 me-1">•</span>{% endunless %}
      {% endfor %}
    </span>
  </div>
  <a class="card-body stretched-link px-0" href="{{ post.url }}">
    <div class="text-muted small">
      {{ post.author }}{% if post.co_author %} und {{ post.co_author }}{% endif %}
      <span class="ms-1 me-1">•</span> <time>{{ post.published_at | date: "%d.%m.%Y" }}</time>
    </div>
    <span class="fw-semibold">
      {{ post.title }}
    </span>
  </a>
</div>
