<div class="card h-100">
  <div class="c-img-post"
        style="background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');">
    <span class="c-post-categories">
      {% for category in post.categories %}
        <span class="text-uppercase">{{category}}</span>
        {% unless forloop.last %}<span class="ms-1 me-1">•</span>{% endunless %}
      {% endfor %}
    </span>
  </div>
  <a class="card-body text-dark stretched-link" href="{{ post.url }}">
    <div class="text-muted">{{ post.author }}</div>
    <span class="fw-bold">
      {{ post.title }}
    </span>
  </a>
</div>
